<div ng-controller="LoadingButtonDemoCtrl">
  <p>Loading status: {{contentSubmiting}}</p>
  <p>After the click the button will return to his normal state after 2s</p>
  <a cds-is-loading-if='contentSubmiting' class="btn btn-default btn-sm" ng-click="buttonClicked()">Click me</a>
</div>
