<!DOCTYPE html>
<html lang="en" ng-app="ui.codus.demo" id="top">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>UI Codus</title>

    <script src="assets/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/<%= ngversion %>/angular.min.js"></script>
    <script src="./ui-codus-tpls-<%= pkg.version%>.js"></script>

    <script src="assets/app.js"></script>

    <link rel="stylesheet" href="assets/demo.css"/>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/<%= bsversion %>/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/<%= bsversion %>/js/bootstrap.min.js"></script>
    
</head>
<body class="ng-cloak">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">UI Codus</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="#top" role="button" class="navbar-brand">
                        UI Codus
                    </a>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
    <header class="bs-header text-center" id="overview">
        <div class="container">
            <h1>
                UI Codus
            </h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="bs-sidebar visible-xs" id="directives_small">
                    <ul class="nav bs-sidenav">
                        <li><a href="#"><strong>Directives</strong></a></li>
                        <% demoModules.forEach(function(module) {  %>
                            <li><a href="#<%= module.name %>"><%= module.displayName %></a></li>
                        <% }); %>
                    </ul>
                </section>

                <% demoModules.forEach(function(module) { %>
                    <section id="<%= module.name %>">
                        <div class="page-header">
                          <h1><%= module.displayName %><small>
                              (<a target="_blank" href="https://bitbucket.org/codustecnologia/angular-ui-cds/src/<%= module.name %>">ui.codus.<%= module.name %></a>)
                          </small></h1>
                          </div>
                          <div class="row">
                            <div class="col-md-6 show-grid">
                                <h4>Example</h4>
                                <%= module.docs.html %>
                            </div>
                            <div class="col-md-6">
                                <h4>Documentation</h4>
                                <%= module.docs.md %>
                            </div>
                        </div>
                        <hr>
                        <div class="row code">
                            <div class="col-md-6">
                                <h4>HTML</h4>
                                <pre>
                                    <code>
                                        <%- module.docs.html %>
                                    </code>
                                </pre>
                            </div>
                            <div class="col-md-6">
                                <h4>Javascript</h4>
                                <pre>
                                    <code>
                                        <%- module.docs.js %>
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </section>
                    <script><%= module.docs.js %></script>
                <% }); %>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main -->
</body>
</html>
